body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: black;
    height: 100vh;
}
.container{
    background: black;
    width: 35rem;
    padding: 30px;
}
.scroll-bar{
    width: 35rem;
    height: 600px;
    background: burlywood;
    overflow: hidden;
    overflow-y: scroll;
}
.scroll-obj{
    padding: 25px;
}
.scroll-bar::-webkit-scrollbar {
  width: 10px;
}

.scroll-bar::-webkit-scrollbar-track {
  background: #2c2c2c;   /* track color */
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: white;      /* scrollbar color */
  border-radius: 8px;
}
@media (max-width: 700px){
    .container{
        width: 20rem;
    }
    .scroll-bar{
        width: 20rem;
    }
}