body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: black;
    height: 100vh;
}
.container{
    background: black;
    width: 35rem;
    padding: 30px;
}
.scroll-bar{
    width: 35rem;
    height: 600px;
    background: burlywood;
    overflow: hidden;
    overflow-y: scroll;
}
.scroll-obj{
    padding: 25px;
}
@media (max-width: 700px){
    .container{
        width: 20rem;
    }
    .scroll-bar{
        width: 20rem;
        background: rgb(121, 85, 37);
    }
}